{% extends "base.html" %}
{% block title %}User Management | DON DON DONKI{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#DIT">DIT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DBA">DBA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DSF">DSF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DCS">DCS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DBFT">DBFT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#CIP">CIP</a>
  </li>
</ul>
